<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gripbot_description)/griptbot.world"/>
    
  </include>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find gripbot_moveit_v4)/default_warehouse_mongo_db" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!--
  By default, hide joint_state_publisher's GUI

  MoveIt!'s "demo" mode replaces the real robot driver with the joint_state_publisher.
  The latter one maintains and publishes the current joint configuration of the simulated robot.
  It also provides a GUI to move the simulated robot around "manually".
  This corresponds to moving around the real robot without the use of MoveIt.
  -->
  <arg name="use_gui" default="false" />


  <rosparam command="load" file="$(find gripbot_description)/config/gripbot.yaml"/>

  <node name="gripbot_" pkg="controller_manager" type="spawner" respawn="false" ns="/gripbot" 
  args="
  joint_state_controller
base_column_controller
girdle_visual_controller
forearm_visual_controller
arm_visual_controller
  --shutdown-timeout 3"/>

  <param name="robot_description" textfile="$(find gripbot_description)/urdf/gripbot.urdf" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" 
    pkg="gazebo_ros" 
    type="spawn_model" 
    args="-z 0.81 -unpause -urdf -model gripbot -param robot_description" 
    respawn="false" 
    output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>


  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
  <!--include file="$(find gripbot_moveit_v4)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include-->  

  <!-- Run Rviz and load the default config to see the state of the move_group node >
  <include file="$(find gripbot_moveit_v4)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include-->

  <!--include file="$(find gripbot_moveit_v4)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include-->


</launch>
